body{
        background-image: url('HOUSEU.jpeg');
        background-size: cover; /* para cubrir todo el fondo */
}

table {
        width: 95%;
        height: 100%;
        border-collapse: collapse;
        border: 2px solid #ffffff00;
    }

    th, td {
        border: 1px solid #ffffff00;
        padding: 30px;
        text-align: center;
    }

